@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

html, body {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    font: normal 15pt Arial;
    color: #000000;
}

div#corpo {
    min-height: 100%;
    width: 100%;
    position: absolute;
}

header{
    width: 100%;
    height: 60px;
    margin: -25px 0 0 0 ;
    background-color: rgb(102, 101, 184);
}

aside {
    float: left;
    display: block ;
    position: relative;
    width: 225px;
    margin: 0 7px 0 0;
    background-color: rgb(65, 66, 145);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.274);
}

section {
    /*
    float: left ;
    display: block ;
    position: relative;
    max-width: 81%;
    min-width: 81%;
    */
    margin: 0 0 0 3px;
    background-color: rgba(116, 116, 116, 0);
}


footer {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: rgb(112, 114, 228);
    box-shadow: -3px -3px 8px rgba(0, 0, 0, 0.274);
}

/*
************************************
IMAGENS DE PERFIL / CABEÇALHO
************************************
*/
div#imgprofile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 12px;
    background: url('../../storage/ic_18.png') no-repeat;
    background-size: 150px;
    background-color: rgba(0,0,0,0);
}

div#empresa {
    margin: 0 20px 0 5px ;
    position: relative ;
    float: left;
    top: 10px;
    font-size: 10pt;
    color: #ffffff;
}

div#cnpj {
    margin: 0 20px 0 0 ;
    position: absolute ;
    left: 5px;
    top: 28px;
    font-size: 10pt;
    color: #ffffff;
}

div#imgprofilecabecalho {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative ;
    float: right;
    top: 7px;
    background: url('../../storage/ic_18.png') no-repeat;
    background-size: 50px;
    background-color: rgba(0,0,0,0);
}

div#nomecabecalho {
    margin: 0 20px 0 0 ;
    position: relative ;
    float: right;
    top: 10px;
    font-size: 10pt;
    color: #ffffff;
}

a#sair {
    margin: 0 0 0 0 ;
    display: block;
    position: absolute ;
    text-decoration: none;
    right: 70px;
    top: 28px;
    font-size: 10pt;
    color: #ffffff;
    background-color: transparent;
}

/*   
************************************
FIM IMAGENS DE PERFIL
************************************
*/

/*   
************************************
CABEÇALHO DE ALGUMAS PAGINAS
************************************
*/

div#cab{
    width: 100%;
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 18pt;
}

/*   
************************************
FIM CABEÇALHO DE ALGUMAS PAGINAS
************************************
*/

/*   
************************************
MENU GERAL
************************************
*/
.menu{
    display: block;
    position: relative;
    background-color: #3d3d3d;
    width: 220px;
    padding-bottom: 10px; 
}

.titulomenu {
    color: rgb(238, 215, 186);
    
}

/*Linhas de separação do menu */
.menudiv{
    width: 80%;
    margin: 10px 0 0 10%;
    border-bottom: solid 1px #666666;
}

.menudiv p{
    text-align: center;
    font-size: 9pt;
}

/*Menu que fica embaixo da foto*/

.botaomenuperfil{
    width: 20px;
    height: 20px;
    background-color: rgba(0,0,0,0);
    text-align: left; 
    border: none;
}

/*Menu de lista lateral*/

.botaomenulista{
    width: 100%;
    background-color: rgba(0,0,0,0);
    text-align: left; 
    border: none;
}


/*   
************************************
FIM MENU GERAL
************************************
*/
/*   
************************************
MENU PERFIL
************************************
*/

ul#perfildados{
    list-style: none;
    width: 300px
}

ul#perfildados li {
    float: left;
    width: 20px;
    margin: 0 7px 0 7px;

}

ul#perfildados li#perfiledit{
    background: url('../../storage/ic_12.png') no-repeat;
    background-position: left;
    background-size: 20px;
    background-color: rgba(0,0,0,0);
}

ul#perfildados li#perfiledit:hover {
    background: url('../../storage/ic_12h.png') no-repeat;
    background-size: 20px;
    background-color: rgba(0,0,0,0) ;
}

ul#perfildados li#mensagem{
    background: url('../../storage/ic_15.png') no-repeat;
    background-position: left;
    background-size: 20px;
    background-color: rgba(0,0,0,0);
}

ul#perfildados li#mensagem:hover {
    background: url('../../storage/ic_15h.png') no-repeat;
    background-size: 20px;
    background-color: rgba(0,0,0,0) ;
}

ul#perfildados li#system{
    background: url('../../storage/ic_14.png') no-repeat;
    background-position: left;
    background-size: 20px;
    background-color: rgba(0,0,0,0);
}

ul#perfildados li#system:hover {
    background: url('../../storage/ic_14h.png') no-repeat;
    background-size: 20px;
    background-color: rgba(0,0,0,0) ;
}

/*   
************************************
MENU LATERAL - LISTA
************************************
*/
ul#listamenu{
    list-style: none;
    margin-left: -45px;
}

ul#listamenu li{
    margin: 1px;
    border: none ;
    background-color: rgba(0,0,0,0) ;
}

ul#listamenu li:hover{
    background-color: rgba(0,0,0,.2) ;
    border-left: solid #0ed3b5 3px;
}

ul#listamenu li span {
    opacity: 0.8;
    color: #ffffff;
    background-color: rgba(0,0,0,0);
    line-height: 30px;
    font-size: 9pt;
    margin-left: 25px;
}

ul#listamenu li:hover span {
    opacity: 1;
    color: #0ed3b5;
}

ul#listamenu li#dashb{
    background: url('../../storage/ic_19.png') no-repeat;
    background-position: left;
    background-size: 20px;
    background-color: rgba(0,0,0,0);
}

ul#listamenu li#dashb:hover {
    background: url('../../storage/ic_19h.png') no-repeat;
    background-position: left;
    background-size: 20px;
    background-color: rgba(0,0,0,.2) ;
}

ul#listamenu li#pac{
    background: url('../../storage/ic_1.png') no-repeat;
    background-position: left;
    background-size: 25px;
    background-color: rgba(0,0,0,0);
}

ul#listamenu li#pac:hover {
    background: url('../../storage/ic_1h.png') no-repeat;
    background-position: left;
    background-size: 25px;
    background-color: rgba(0,0,0,.2) ;
}

ul#listamenu li#atend{
    background: url('../../storage/ic_4.png') no-repeat;
    background-position: left;
    background-size: 30px;
    background-color: rgba(0,0,0,0);
}

ul#listamenu li#atend:hover {
    background: url('../../storage/ic_4h.png') no-repeat;
    background-size: 30px;
    background-color: rgba(0,0,0,.2) ;
}

ul#listamenu li#pront{
    background: url('../../storage/ic_5.png') no-repeat;
    background-position: left;
    background-size: 30px;
    background-color: rgba(0,0,0,0);
}

ul#listamenu li#pront:hover {
    background: url('../../storage/ic_5h.png') no-repeat;
    background-size: 30px;
    background-color: rgba(0,0,0,.2) ;
}

ul#listamenu li#agenda{
    background: url('../../storage/ic_3.png') no-repeat;
    background-position: left;
    background-size: 30px;
    background-color: rgba(0,0,0,0);
}

ul#listamenu li#agenda:hover {
    background: url('../../storage/ic_3h.png') no-repeat;
    background-size: 30px;
    background-color: rgba(0,0,0,.2) ;
}

ul#listamenu li#lead{
    background: url('../../storage/ic_10.png') no-repeat;
    background-position: left;
    background-size: 30px;
    background-color: rgba(0,0,0,0);
}

ul#listamenu li#lead:hover {
    background: url('../../storage/ic_10h.png') no-repeat;
    background-size: 30px;
    background-color: rgba(0,0,0,.2) ;
}
ul#listamenu li#leadsint{
    background: url('../../storage/ic_10.png') no-repeat;
    background-position: left;
    background-size: 30px;
    background-color: rgba(0,0,0,0);
}

ul#listamenu li#leadsint:hover {
    background: url('../../storage/ic_10r.png') no-repeat;
    background-size: 30px;
    background-color: rgba(0,0,0,.2) ;
    color: #f97263;
}

/*
***************************************
ESTILOS DE BOTOẼS
***************************************
*/

.btn-buscar{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(65, 66, 145);
    font-size: 13pt;
}

.btn-buscar-sm{
    height: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(65, 66, 145);
    font-size: 11pt;
}

.btn-visualizar{
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(65, 120, 145);
    font-size: 13pt;
}

.btn-visualizar-sm{
    height: 25px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(65, 120, 145);
    font-size: 11pt;
}

.btn-azul{
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(54, 57, 179);
    font-size: 13pt;
}

.btn-verde{
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(55, 124, 41);
    font-size: 13pt;
}

.btn-vermelho{
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(179, 0, 0);
    font-size: 13pt;
}

.btn-vermelho-sm{
    height: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(179, 0, 0);
    font-size: 11pt;
}